<% include ../partials/header %>

<h1>Sign Up</h1>
<form  name="sign-up-form" action="/sign-up" method="post">
  <p>
    <label for="name">Name: </label>
    <input type="text" name="name" placweholder="name" required />
  </p>
  <p>
    <label for="Email">Email: </label>
    <input type="text" name="email" placeholder="email" required />
  </p>
  <p>
    <label for="password">Password: </label>
    <input type="password" name="password" placeholder="password" required />
  </p>
  <button class="btn btn-primary" type="submit" name="submit">Submit: </button>
</form>

<% include ../partials/footer %>
